github:
  token: ${TOKEN}
  username: ${USERNAME}

openai:
  api_base: ${OPENAI_API_BASE}  # https://api.openai.com/v1或使用其他兼容的API端点
  api_keys:
    - "${OPENAI_API_KEY}"
    # 在这里添加更多的API key
  model: ${OPENAI_MODEL}  # 或其他支持的模型
  max_tokens: 1024
  temperature: 0.7
  top_p: 0.7
  top_k: 50
  frequency_penalty: 0.5

concurrency:
  fetch:
    max_workers: 5  # 获取仓库时的并发数
  classify:
    max_workers: 3  # 分类时的并发数

database:
  path: data/stars.db

categories:
- 信息搜集
- AI应用
- 逆向破解
- CTF相关
- 漏洞扫描
- 红队&渗透测试
- Web安全
- 云安全
- LLM安全
- 取证溯源
- bugbounty
- 扫描字典
- DevOps
- 开发工具&框架
- burpsuite插件
- 代码审计
- 其他 